# Dependencies
node_modules/
/node_modules

# Next.js Build Output
.next/
out/

# Production Build
build/

# Environment Variables
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# System Files
.DS_Store
Thumbs.db