# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
db.sqlite3

# Media and Static folders
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/